
# Created by https://www.toptal.com/developers/gitignore/api/c,visualstudiocode,linux
# Edit at https://www.toptal.com/developers/gitignore?templates=c,visualstudiocode,linux

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/c,visualstudiocode,linux

# modules
*.d
*.mod
*.ko
*.o
*.mod.c
src/**/.*
*.order
*.symvers
*.out

*.pc
build

# http://www.gnu.org/software/automake
Makefile
Makefile.in
!src/module/src/Makefile

# http://www.gnu.org/software/autoconf
autom4te.cache
autoscan.log
autoscan-*.log
aclocal.m4
compile
config.guess
config.h.in
config.h.in~
config.h
config.log
config.status
config.sub
configure
configure.scan
depcomp
install-sh
missing
stamp-h1
build-aux

# https://www.gnu.org/software/libtool/
libtool

# http://www.gnu.org/software/m4/
m4
